body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #020412;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
}

.header {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 60px;
    height: 30px;
    text-align: center;
}

.layout-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-container {
    width: 33%;
    height: 100%;
    padding: 8% 0 0 0;
    font-size: 10px;
    
}

.language-title {
    display: flex;
    align-items: center;
    width: 80%;
    height:30px;
    background-color: #15282E;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
}

.code-section {
    display: flex;
}

.code-line-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 15%;
    padding: 0 2% 0 0;
    font-size: 10px;
}

.code-line-text {
    background-color: #15282E;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.line-item {
    margin: 4px;
}

span {
    padding: 0 0 0 12px;
}

.input-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.get-color {
    width: 90%;
    border: none;
    padding: 0 0 0 5px;
    font-size: 10px;
    background-color: #15282E;
    color: #fff;
}

.get-color:focus {
    outline: none;
}

.list {
    margin: 0;
    padding: 0;
    right: 0;
}

ul {
    list-style: none;
}

.auto-items {
    padding: 6px 0 0 0;
    border-bottom: 0.7px solid rgba(197, 190, 194, 0.35);
}

.auto-items:hover {
    background-color: rgba(197, 190, 194, 0.45);
}

.middle-container {
    width: 33%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mabel-image {
    align-self: center;
    height: 255px;
    width: 190px;
    background-image: url(/assets/mabel-full.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
}

.mabel-image .mabel-shirt {
    mix-blend-mode: multiply;
}

.mabel-shirt {
    fill: pink;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 33%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.continue-btn {
    height: 40px;
    width: 120px;
    border: 1px solid #fff;
    border-radius: 40px;
    background: none;
    color: #fff;
    margin: 0 0 20% 0;
}